@import "./src/Theme/vars";

.section {
    padding-top: 140px;

    &__more {
        padding: 4px 18px 4px 19px;
    }
}

.section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 29px;
}

// tablet
@media screen and (min-width: 769px) and (max-width: 945px) {
    .grid {
        grid-gap: 16px;
    }
}

// tablet
@media screen and (min-width: 665px) and (max-width: 1005px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
    }
}

// tablet
@media screen and (min-width: 426px) and (max-width: 664px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 16px;
    }
}

// mobile
@media screen and (max-width: 425px) {
    .grid {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}