@import "./src/Theme/vars";

.container {
    margin: 0 auto;
    max-width: $desktopWidthContainer;

    &--laptop {
        max-width: $laptopWidthContainer;
    }

    &--tablet {
        max-width: $tabletWidthContainer;
    }

    &--mobile {
        max-width: $mobileWidthContainer;
    }
}
