@import "./src/Theme/vars";

.card {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    width: 330px;
    height: 214px;

    &__image {
        margin: 0 auto;
    }

    &__name {
        padding: 20px 0;
    }

    &__name, &__post, &__email, &__phone {
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (min-width: 1095px) and (max-width: 1205px) {
    .card {
        width: 270px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1094px) {
    .card {
        width: 247px;
    }
}

// laptop
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .card {
        width: 242px;
    }
}

// tablet
@media screen and (min-width: 735px) and (max-width: 768px) {
    .card {
        width: 304px;
    }
}

// tablet
@media screen and (min-width: 665px) and (max-width: 734px) {
    .card {
        width: 270px;
    }
}

// tablet
@media screen and (min-width: 426px) and (max-width: 664px) {
    .card {
        width: 304px;
    }
}

// mobile
@media screen and (max-width: 425px) {
    .card {
        width: 288px;
    }
}


