@import "./src/Theme/vars";

.message {

    &__request {
        &--error {
            margin: 50px 0;
            color: $error;
        }
    }

    &__validation {
        font-size: 12px;
        line-height: 14px;
        margin: 4px 0 0 16px;

        &--info {
            color: $grey;
        }

        &--error {
            color: $error
        }
    }
}
